header.header
	div.header-container
		div.brand
			img(height="40" src="/assets/templates/studionions/images/logotip.svg")
		nav.header-navigation
			ul.header-navigation-list
				li.list-item-menu
					a.link-menu.button(href="#")
						|Почему мы?
				li.list-item-menu
					a.link-menu.button(href="#")
						|Эксперты
				li.list-item-menu
					a.link-menu.button(href="#")
						|Услуги и цены
				li.list-item-menu
					a.link-menu.button(href="#")
						|Контакты
		nav.header-navigation-mobile(data-ix="menu-mobile-load")
			ul.header-navigation-list
				li.list-item-menu
					a.link-menu.button(href="#")
						|Услуги и цены
				li.list-item-menu
					a.link-menu.button(href="#")
						|Почему мы?
				li.list-item-menu
					a.link-menu.button(href="#")
						|Эксперты
				li.list-item-menu
					a.link-menu.button(href="#")
						|Контакты
		a.full-phone-block(href="tel:+74951200977")
			div.line-phone-block
			div.phone-header
				address.phone-link
					div.block-button
						img(height="18" src="/assets/templates/studionions/images/phone.svg")
						div.link-text-phone
							|+7 (495) 120-09-77
		div.block-menu-mobile
			div.line-block-menu
			div.block-button-menu(data-ix="click-menu-button")
				div.line-button-menu1
				div.line-button-menu2
				div.line-button-menu3