.section-about-us
	.block-cent-auto
		.block-name-section
			h3.h3
				|Почему мы?
			p.paragraph_st_text
				|Вы обращаетесь к нам с задачей, которую необходимо решить. Мы конкретизируем цель и проводим тщательную проверку по интересующим Заказчика факторам риска.
		.content-block-st
			.row.row-block-text
				.col-md-6.con-block-text
					.heading-block-text
						h2.h2-black
							|Для нас это не просто работа — это любимое дело!
					p.paragraph_st_cont
						|Уже более 80 организаций перешли к нам от других «горе–специалистов» и остались довольны.
					.heading-block-text
						h2.h2-black
							|Достойный опыт за 10 лет
					p.paragraph_st_cont
						|В НЭЦ «Триумф» профессиональными экспертами проведено свыше 37.000 проверок на полиграфе и мы никуда не делись. Наша компания успешно существует с 2007 года.
				.col-md-6.con-block-photo.right
					.con-block-photo-item(style="background-image: url('/assets/templates/studionions/images/photo_item_0004.jpg');")
