.section-about-us
	.block-cent-auto
		.block-name-section
			h3.h3
				|О нас в цифрах
			p.paragraph_st_text
				|ООО Независимый Экспертный Центр «Триумф» с 2007 года занимается проверкой на полиграфе с гарантией качества и соблюдением сроков.
		.content-block-st
