section.section-hero
	.block-center-auto
		.block-name-heading
			.blockdes
				span.text-span
					|Внимание! 
				| Если Вы ищите, где получить заведомо-ложное заключение, то Вам нужно обращаться не к нам!
			h1.h1name
				|Экспертный центр 
				br
				| Татьяны Алфеевой
		.block-slider
			.slider
				.slider-mask
					.slide
						.slide-row.row
							.col-slide-left.col-sm-6
								.slide-intro
									h2.slide-h2
										|Проводим тестирования на полиграфе (детекторе лжи) для бизнеса и огранизаций
									p.slide-paragraf
										|Займитесь оздоровлением своей компании уже сегодня. Оградите себя от финансовых рисков и неблагополучного персонала...
									.slide-navblock
										.slide-navblock-line
											.line-load
										.slide-navblock-line
										.slide-navblock-line
							.col-slide-right.col-sm-6
								.slide-background.slide_one
					.slide
						.slide-row.row
							.col-slide-left.col-sm-6
								.slide-intro
									h2.slide-h2
										|Полиграф в бизнесе
									p.slide-paragraf
										|Защитите свое дело от некомпетентных сотрудников, лиц заинтересованных в краже коммерческой тайны и просто вредителей на рабочих местах.
									.slide-navblock
										.slide-navblock-line
											.line-load
										.slide-navblock-line
										.slide-navblock-line
							.col-slide-right.col-sm-6
								.slide-background.slide_two
					.slide
						.slide-row.row
							.col-slide-left.col-sm-6
								.slide-intro
									h2.slide-h2
										|Полиграф для огрганизаций
									p.slide-paragraf
										|Тестируя новых сотрудников при приеме в Вашу организацию на службу, Вы можете заранее оценить кандидата и выявить все нежелательные к должности моменты.
									.slide-navblock
										.slide-navblock-line
											.line-load
										.slide-navblock-line
										.slide-navblock-line
							.col-slide-right.col-sm-6
								.slide-background.slide_three