.section-about-us
	.block-cent-auto.no
		.block-expert-full
			.content-expert
				h3.h2-black
					|Закажите профессиональную проверку у наших экспертов уже сегодня!
				.slider-expert
					.slick
						.slick-item
							.box-expert
								.expert-photo
									img.img-responsive.img-cricle.block-center(src="/assets/templates/studionions/images/photo_item_slick.jpg")
								.expert-fio.text-center
									h3.h3-fio
										|Утенков Геннадий Геннадьевич
									p.text-center
										|Эксперт высшей категории.
										br
										|Судебный эксперт.
								.expert-description
									p
										|Специализация: скрининг проверки, оружие, алмазы, грабеж караванов.
						.slick-item
							.box-expert
								.expert-photo
									img.img-responsive.img-cricle.block-center(src="/assets/templates/studionions/images/photo_item_slick.jpg")
								.expert-fio.text-center
									h3.h3-fio
										|Утенков Геннадий Геннадьевич
									p.text-center
										|Эксперт высшей категории.
										br
										|Судебный эксперт.
								.expert-description
									p
										|Специализация: скрининг проверки, оружие, алмазы, грабеж караванов.
						.slick-item
							.box-expert
								.expert-photo
									img.img-responsive.img-cricle.block-center(src="/assets/templates/studionions/images/photo_item_slick.jpg")
								.expert-fio.text-center
									h3.h3-fio
										|Утенков Геннадий Геннадьевич
									p.text-center
										|Эксперт высшей категории.
										br
										|Судебный эксперт.
								.expert-description
									p
										|Специализация: скрининг проверки, оружие, алмазы, грабеж караванов.
						.slick-item
							.box-expert
								.expert-photo
									img.img-responsive.img-cricle.block-center(src="/assets/templates/studionions/images/photo_item_slick.jpg")
								.expert-fio.text-center
									h3.h3-fio
										|Утенков Геннадий Геннадьевич
									p.text-center
										|Эксперт высшей категории.
										br
										|Судебный эксперт.
								.expert-description
									p
										|Специализация: скрининг проверки, оружие, алмазы, грабеж караванов.
						.slick-item
							.box-expert
								.expert-photo
									img.img-responsive.img-cricle.block-center(src="/assets/templates/studionions/images/photo_item_slick.jpg")
								.expert-fio.text-center
									h3.h3-fio
										|Утенков Геннадий Геннадьевич
									p.text-center
										|Эксперт высшей категории.
										br
										|Судебный эксперт.
								.expert-description
									p
										|Специализация: скрининг проверки, оружие, алмазы, грабеж караванов.
						.slick-item
							.box-expert
								.expert-photo
									img.img-responsive.img-cricle.block-center(src="/assets/templates/studionions/images/photo_item_slick.jpg")
								.expert-fio.text-center
									h3.h3-fio
										|Утенков Геннадий Геннадьевич
									p.text-center
										|Эксперт высшей категории.
										br
										|Судебный эксперт.
								.expert-description
									p
										|Специализация: скрининг проверки, оружие, алмазы, грабеж караванов.