.section-about-us
	.block-cent-auto
		.block-name-section
			h3.h3
				|Полиграф
			p.paragraph_st_text
				|Почему выгодно применять полиграф
				br
				|(детектор лжи) для бизнеса и организаций?
		.content-block-st
			.row.row-block-text
				.col-md-6.con-block-text
					.heading-block-text
						h2.h2-black
							|Полиграф при приеме на работу
					p.paragraph_st_cont
						|Работодатель, получая информацию, имеет возможность защитить себя и свой коллектив от проблемных сотрудников, несущих финансовые риски:
						br
						br
						|– совершивших уголовные преступления,
						br
						|(в т.ч. и нераскрытых, которых, согласно статистике, большинство);
						br
						br
						|- представивших заведомо–ложные сведения о себе (причины увольнения, скрываемые доходы в ущерб работодателю, злоупотребление алкоголем, наркотиками, серьезные хищения и т.д.).
					.heading-block-text
						h2.h2-black
							|При расследовании
					p.paragraph_st_cont
						|Самый быстрый и экономичный способ понять, кто украл или совершил преступление, особенно, если других доказательств нет, а информацию получить надо быстрее.
					.heading-block-text
						h2.h2-black
							|Главное условия для выгоды!
					p.paragraph_st_cont
						|Только грамотный эксперт, соблюдающий методику исследования. Ведь полиграф — это не «детектор лжи», а прибор с медицинскими датчиками–регистраторами, которые самостоятельно за эксперта не проведут грамотно исследование и не сядут вместо него делать расчетную часть, чтобы получить вывод: «искренний» или «скрывающий информацию».
				.col-md-6.con-block-photo
					.con-block-photo-item(style="background-image: url('/assets/templates/studionions/images/photo_item_0001.jpg');")
					.con-block-photo-item(style="background-image: url('/assets/templates/studionions/images/photo_item_0002.jpg');")
					.con-block-photo-item(style="background-image: url('/assets/templates/studionions/images/photo_item_0003.jpg');")
